img {
    width: 100%;
}

body {
    display: grid;
    font-family: sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#main_container {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    margin-left: 5vw;
    margin-top: 2.5vh;
}

#h2_content {
    width: 65%;
}

#p_content {
    width: 73%;
    color: rgb(170, 160, 160);
}

#page_footer {
    display: grid;
    grid-auto-flow: row;
    align-items: end;
    justify-items: center;
    margin-top: 18vh;
    min-height: 73px;
}

#create_account_button {
    width: 80vw;
    height: 55px;
    background-color: #018CEF;
    color: white;
    border: none;
    border-radius: 25px;
}